html, body {
    height:100%;
    width:100%;
}
ul {
  list-style-type: none;
  padding: 0;
}
#logo {
    margin-top:1em;
}
@media only screen and (max-width: 992px){
  #logo {
    margin-bottom:1em;
  } 
}
#title {
    font-size: 2vw;
    margin-top:0.25em;
}
.subtitle {
    /*font-size: 1vw;  */
}
.subtitle > a:hover {
  text-decoration: none;
  color:#469cd9;
}
.container-fluid 
{
  padding-left:0;
}
.toolbar {
    background:#FAFAFA;

    /*height:100%;*/
    padding-left:2em;

    border-right-style:solid;
    border-right-width:3px;
    border-right-color:#F2F2F2;
}
@media only screen and (min-width: 992px){
  .toolbar {
    height:100%;
  } 
}
#sim-form {
    padding-bottom:2em;
}
.setting-section {
    margin-bottom:1em;
}
.titleArea {
    text-align: center;
}

.partial {
  padding-left:0.75em;
}

.clickable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;  
    color:#347ab7;
    cursor: pointer;
}
.clickable:hover {
  color:#469cd9;
}
canvas {
    background:black;
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    width:100%;
    /*max-width: 800px;
    max-height: 600px;*/
}

.modeSections {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modeSection {
    display:inline;
    float:left;
    margin-right:1.5em;
}

#player {
    border-right-style:solid;
    border-right-width:2px;
    border-right-color:#F2F2F2;
    padding-right:1em;
}
.setting-group {

}
.rule {
    margin-bottom:0.75em;
}
.rule-header {
  text-align: center;
}

.parameter-description {
    font-style: italic;
}


.columns {
  height:100%;
}
.info-page {
  height:100%;
  overflow-y: scroll;
  padding-bottom:6em;
}
.slide-animate-container {
  position:relative;
}

.slide-animate {
  padding:10px;
}

.world-listing {
  padding-left:0.25em;
}

@media only screen and (max-width: 992px){
  .listing {
    padding-top:0.25em;
    padding-bottom:0.25em;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px){
  .listing {
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: 20px;
  }
}
.highlight-selected {
  background:#EFEFEF;
  border-style:solid;
  border-width:1px;
  border-color:#DADADA;
}
.bold-selected {
  font-weight: bold;
}
.timeline {
  height:600px;
  overflow-y: scroll;
}

.disable-field {
  background: none;
}

.odd {
  background:#FAFAFA;
}
.darker-odd {
  background:#EFEFEF;
}

#login {
  background:#EFEFEF;
  text-align: center;
  padding:3em;
  margin-top:3em;
  border-radius:18px;
}
.login-item {
  margin-top:1em;
}
#login-logo {
  margin-top:1em;
  height:8em;
  width:8em;
}
#architecture {
  margin:auto;
  display:block;
}
.logout {
  margin: 1em 1em 0 0;
  float:right;
}