html, body {
    height:100%;
    width:100%;
    /*background:#6b8ac7;*/
}
#logo {
    margin-top:1em;
}
#title {
    margin-top:0.25em;
}
.toolbar {
    max-width: 350px;
    /*background:#385794;*/
    /*color:white;*/
}
#sim-form {
    padding-bottom:2em;
}
.setting-section {
    margin-bottom:1em;
}
.titleArea {
    text-align: center;
}

.clickable {
    color:#347ab7;
    cursor: pointer;
}
canvas {
    background:black;
    display:block;
    text-align: center;
    margin-left:auto;
}

.modeSections {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modeSection {
    display:inline;
    float:left;
    margin-right:1.5em;
}

.rule {
    margin-bottom:0.75em;
}