<div class="row">
	<div class="col-md-9">
		<h3>About</h3>
		<h4>What is Cosmopolitos?</h4>
	    <p class="parameter-description">
	    	Cosmopolitos is a series of simulations that simulates a virtual planet.
	    </p>

	    <h4>What does Cosmopolitos mean?</h4>
	    <p class="parameter-description">
	    	Cosmopolitos is a combination of the word <b>cosmopolitan</b> meaning global citizen and the Spanish diminutive <b>-ito</b> meaning small or cute. Together they describe the goal for the human portion of the simulation: a population of thousands of human agents who interact with many different virtual cultures on a global scale.
	    </p>

	    <h4>What is Nutro, Nucium?</h4>
	    <p class="parameter-description">
	    	Nutro and Nucium are nutrients essential to virtual plantlife. Nutro represents Nitrogen and Nucium represents Potassium.
	    </p>

	</div>
</div>