<div class="partial" ng-controller="creationController">
  <div class="row setting-section">
    <div class="col-xs-12 col-md-9">
      <h3>Create a New Simulation</h3>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Name</span>

        <input type="text" class="form-control" ng-model="formData.name">
        <div class="input-group-btn">
          <label class="btn btn-default" ng-click="randomizeName()">Generate Random Name</label>
        </div>
      </div>
    </div>
  </div>
  {{formData}}
  <div class="row setting-section">
    <div class="col-xs-12 col-md-9">
      
      <!-- Radio Rules -->
      <ul>
        <li ng-repeat="radio in rules.radios" class="rule">
          <h4>{{ radio.title }}</h4>
          <p class="parameter-description">{{ radio.description }}</p>
          <div class="btn-group">
            <label ng-repeat="option in radio.options" 
              class="btn btn-default" 
              ng-model="formData[radio.variable]"
              uib-btn-radio="{{ option.value | wrapInQuotes }}">
              {{ option.name }}
            </label>
          </div>
        </li>
      </ul>

      <!-- Boolean Rules -->
      <h4>Simulation Rules</h4>
      <div class="btn-group rule">
        <button 
        ng-repeat="rule in rules.booleans" 
        type="button" class="btn btn-default" 
        btn-checkbox-true="true" btn-checkbox-false="false" 
        uib-btn-checkbox
        ng-model="formData.rules[rule.variable]"
        uib-popover="{{rule.tooltip}}" popover-trigger="mouseenter">
        <b>{{rule.character}}</b> {{rule.title}}</button>
      </div>

      <!-- Field Rules -->

      <div ng-repeat="field in rules.fields" class="input-group rule">
        <span class="input-group-addon" 
          uib-popover="{{ field.tooltip }} {{ field.input | inputPlaceholder }}" 
          popover-trigger="mouseenter">
          <b> {{ field.character }} </b> 
          {{ field.title }}
        </span>

        <input type="{{ field.input.type }}" 
          ng-model="formData.rules[field.variable]"
          ng-value="formData.rules[field.variable]" 
          class="form-control" 
          placeholder="{{ field.input | inputPlaceholder }}"/>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <button ng-click="createSim()" style="display:block;margin-left:auto;" type="button" class="btn btn-lg btn-default">Create</button>
    </div>
  </div>
</div>