<div class="partial" ng-controller="loginController">
  <div class="row setting-section">
    <div class="col-xs-12 col-md-9">
      <h3>Login</h3>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Username</span>
        <input type="text" class="form-control" ng-model="formData.name">
        <span class="input-group-addon" id="basic-addon3">Password</span>
        <input type="text" class="form-control" ng-model="formData.password">
      </div>
    </div>
  </div>    
</div>