<div class="row partial" ng-controller="simulationRendererController">
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <div class="col-xs-12">
        <h3 id="sim-name">
          {{ context.name }}
          <span class="hidden-xs hidden-sm"> 
            &#8728;  
            {{ context.days | daysToDate: true }}
            &#8728; 
            {{ context.mode }}
          </span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <canvas id="canvas" width="960px" height="600px"></canvas>
      </div>
    </div>
    
    <!--  Mapmodes -->
    <div class="row">
      <div class="col-xs-12">
        <ul class="modeSections">
          <li class="modeSection" ng-repeat="section in renderer.modeSections">
            <h4>{{ section.name }}</h4>
              <div class="clickable listing"
                ng-repeat="map in section.modes" 
                ng-class="map==renderer.mode ? 'bold-selected' : '' "  
                ng-click="changeMapMode(map)">
                {{ map }}
            </div> 
          </li> 
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="row" ng-controller="timelineController">
      <div class="col-xs-12">
        <div class="hidden-xs hidden-sm" ng-controller="simulationRequestsController">
          <h4>Requests</h4>
          <p>
          <span class="clickable" ng-click="createRequest(context.name,1)">day</span>,
          <span class="clickable" ng-click="createRequest(context.name,10)"> week</span>,
          <span class="clickable" ng-click="createRequest(context.name,30)"> month</span>,
          <span class="clickable" ng-click="createRequest(context.name,360)"> year</span>,
          <span class="clickable" ng-click="createRequest(context.name,360*5)"> lustrum</span>
          </p>
          <ul class="list-unstyled">
            <li ng-repeat="request in requestManager.requests" ng-class-even="'odd'">
              {{ request.name }} for {{ request.days | duration }}
              <span class="clickable" ng-click="deleteSimulationsRequests(request.name)">X</span></li>
          </ul>
          <button style="float:right;" class="btn btn-sm btn-default" ng-click="processSimulationRequests()">Process</button>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h4>Timeline</h4>
            <div class="timeline">
              <div class="listing" ng-repeat="time in timelineService.dates track by $index" key-navigation ng-class-even="'odd'">
                <span 
                ng-class="time == context.days ? 'bold-selected' : '' "
                class="clickable" ng-click="pickDate(time)"> {{ time | daysToDate:true }}</span>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>